$radius:  0px 0px 12px 12px;
$grey_1:#CACADB;
$grey_2: #E7E7F2;
$white: #fff;
$blue: #24A3FF;
$sm: 375px;
$md: 769px;
$sm-md: 415px;
$grey_3:#b3b3ba;
$black: #000;
$blue_smoth:#323264;
$purp:#f0145a;
$size_1:22px;